<!-- Navigation
================================================== -->
<nav class="navbar">
  <div class="navbar-brand six columns"> <!-- Yes, I know this is a douchey class name -->
      <ul>
        <li>
          <a href="/" title="Home"><img id="logo" src="/theme/images/avatar.jpg" alt="Me (Greg Reda, GrubHub-ified)"></a>
        </li>
        <li>
          <h1><a href="/" title="Home">{{ SITENAME }}</a></h1>
        </li>
      </ul>
      <ul id="social-icons">
        {% for nav in NAVIGATION %}
        <li>
          <a class="icon" href="{{ nav['url'] }}" title="{{ nav['site'].title() }}">
            <i class="fa fa-fw fa-{{ nav['site'] }}"></i>
          </a>
        </li>
        {% endfor %}
        <li>
          <a class="icon" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Subscribe (Atom)">
            <i class="fa fa-fw fa-rss"></i>
          </a>
        </li>
      </ul> <!-- End social-icons ul -->
    </div> <!-- End navbar-brand -->

  <div class="navbar-links">
      <ul>
        <li><a href="/blog/">Blog</a></li>
        <!--        <li><a href="/coffee/">Coffee?</a></li> -->
      </ul> <!-- End navbar-links ul -->
    </div> <!-- End navbar-links -->
</nav> <!-- End navbar -->
